user exam reading - multiple choice, single
user exam writing - write ase


Top Nav
1. Dashboard
2. All Data with mega menu
3. pages
	- pricing
	- Privacy policy
	- Fefund policy
	- FAQ
	- About us
	- Users
4.Contact
5. User Dropdown
	- Profile
	- Settings
	- Billing